@use 'base/colors' as *;

.button__actions {
	display: flex;

	align-items: center;
	flex-direction: column;
	&__item {
		margin: 0.5em 0;
		padding: 0.5em 1em;
		width: 100%;
		background-color: transparent;
		border: 1px solid $main-color;
		color: $main-color;
		text-transform: uppercase;
		text-decoration: none;
		cursor: pointer;
		font-size: 2rem;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.button__actions {
		&__item {
			font-size: 3rem;
			width: 50%;
		}
	}
}
