@use 'base/colors' as *;
.map {
	margin: 1em;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 1fr);
}
.map-tile {
	width: 100%;
	height: 50px;
	background: $main-color;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $white;
}

// .player {
// 	// background-color: blue;
// 	// border-radius: 50%;
// 	// font-size: 3rem;
// }
// .enemy {
// 	// background-color: red;
// 	// border-radius: 50%;
// }
@media (min-width: 576px) {
	.player,
	.enemy {
		font-size: 2rem;
	}
}

@media (min-width: 768px) {
	.player,
	.enemy {
		font-size: 3rem;
	}
}
@media (min-width: 1200px) {
	.player,
	.enemy {
		font-size: 4rem;
	}
}
