@use 'base/colors' as *;
.map {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
  
    
}
.map-tile {
	width: 100%;
	height: 50px;
	background: $main-color;
	display: flex;
	align-items: center;
	justify-content: center;
}
