@use 'base/colors' as *;

.table {
	margin: 1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 1fr 0.5fr 0.5fr;
	border: 1px solid $main-color;
	height: 100%;

	&__character,
	&__locations,
	&__menu {
		margin: 1em;
	}
	&__character {
		color: $main-color;
		font-weight: bold;
		&__info {
			list-style: none;
			&-item {
				display: flex;
				justify-content: space-between;
			}
		}
	}
	&__locations {
		color: $main-color;
		&__title {
			padding-bottom: 0.5em;
			text-align: center;
			text-transform: uppercase;
		}
		&__box {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			&-item {
				margin: 0.5em 0;
				text-transform: uppercase;
				padding: 0.5em 0.25em;
				width: 100%;
				background-color: transparent;
				border: 1px solid $main-color;
				color: $main-color;
				font-weight: bold;
				cursor: pointer;
			}
		}
	}
	&__menu {
		color: $main-color;
		&__title {
			padding-bottom: 0.5em;
			text-align: center;
			text-transform: uppercase;
		}
		&__box {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			&-item {
				margin: 0.5em 0;
				text-transform: uppercase;
				padding: 0.5em 0.25em;
				width: 100%;
				background-color: transparent;
				border: 1px solid $main-color;
				color: $main-color;
				font-weight: bold;
				cursor: pointer;
                text-align: center;
                text-decoration: none;
			}
		}
	}
}
